<md-dialog aria-label="Select Child"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{timeslot.name}}</h2>
        <span flex></span>
        <button type="button" class="close select-child-close" ng-click="cancel()">×</button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="select-child-text-title">Please select the child you wish to register for the {{timeslot.time}} timeslot. </div>
        <md-radio-group class="children-radio" ng-model="selectedChild">
          <md-radio-button class="child-option" ng-repeat="child in children" value="{{child.name}}">
            {{child.name}}
          </md-radio-button>
        </md-radio-group>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span class="invalid-selection" ng-show="invalidSelection">
        Please select a child to register.
      </span>
      <md-button class="md-raised md-primary" ng-click="register($event)">
        Register
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>