<md-dialog aria-label="Select Child"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{timeslot.name}}</h2>
        <span flex></span>
        <button type="button" class="close select-child-close" ng-click="cancel()">×</button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="select-child-text-title">Please select the child you wish to register for the {{timeslot.time}} timeslot. </div>
        <ul class="children-cards">
          <li ng-repeat="child in children">
            <span>
              <h2>{{child.name}}</h2>
              <p>({{child.age}} years old)</p>
            </span>
          </li>
        </ul>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>