<div class="modal fade" id="topup-modal" ng-hide="!$root.currentUser" aria-hidden="true" aria-labelledby="modal-topup">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 class="topupmodal-title" ng-model="modalTitle">{{modalTitle}}</h3>
        <br/>
        <md-progress-linear md-mode="determinate" value="{{progressvalue}}"></md-progress-linear>
      </div>

      <div class="modal-body">
        <div id="topup-step1" ng-show="progressvalue===33">
          <div class="btn-group btn-group-lg" role="group" id="tokenOptions">
            <div>
              <h4 id="selectPaymentOption" ng-show="highlightTokenMessage" ng-class="{'highlight-token-message':highlightTokenMessage}">Select number of coins:</h4>
            </div>
            <label class="btn btn-default payment-option" ng-model="paymentOption" btn-radio="50000" uncheckable>
              <div class="token-selection">
                <span class="token-number">{{plans[0].tokens}} <span class="glyphicon glyphicon-copyright-mark"></span></span><br>
                <span class="token-cost">HK${{plans[0].amount/100}}</span>
              </div>
            </label>
            <label class="btn btn-default payment-option" ng-model="paymentOption" btn-radio="95000" ng-click="checkpaymentOption()" uncheckable>
              <div class="token-selection">
                <span class="token-number">{{plans[1].tokens}}<span class="glyphicon glyphicon-copyright-mark"></span></span><br>
                <span class="token-cost">HK${{plans[1].amount/100}}</span>
              </div>
            </label>
            <label class="btn btn-default payment-option" ng-model="paymentOption" btn-radio="185000" uncheckable>
              <div class="token-selection">
                <span class="token-number">{{plans[2].tokens}}<span class="glyphicon glyphicon-copyright-mark"></span></span><br>
                <span class="token-cost">HK${{plans[2].amount/100}}</span>
              </div>
            </label>
          </div>
        </div>
        <div id="topup-step2" ng-show="progressvalue===66">

    <!--   Stripe payment --><!--
          <div id="payment-form">
            <form action="" method="POST" name="paymentForm" id="application-topup">
              <span class="payment-errors"></span>
              <md-content layout-gt-sm="row" layout-padding class="cardInfoContainer">
                <div class="cardInfo">
                  <md-input-container class="cardDetails">
                    <label>Card Number</label>
                    <input type="text" data-stripe="number" ng-model="cardDetails.number" size="20" />
                  </md-input-container>
                  <md-input-container class="cardDetails">
                    <label>CVC</label>
                    <input type="text" data-stripe="cvc" size="4" ng-model="cardDetails.cvc" />
                  </md-input-container>
                </div>
              </md-content>
              <md-content layout-gt-sm="row" layout-padding class="cardInfoContainer">
                <div class="cardInfo">
                  <md-input-container class="cardDetails">
                    <label>MM</label>
                    <input type="text" data-stripe="exp-month" size="4" ng-model="cardDetails.expMonth" />
                  </md-input-container>
                  <md-input-container class="cardDetails">
                    <label>YYYY</label>
                    <input type="text" data-stripe="exp-year" size="4" ng-model="cardDetails.expYear" />
                  </md-input-container>
                </div>
              </md-content>
            </form>
          </div>
 -->
<!--

            <div class="form-row">
              <label>
                <span>Card Number</span>
                <input type="text" size="20" data-stripe="number"/>
              </label>
            </div>
            <div class="form-row">
              <label>
                <span>CVC</span>
                <input type="text" size="4" data-stripe="cvc"/>
              </label>
            </div>
            <div class="form-row">
              <label>
                <span>Expiration (MM/YYYY)</span>
                <input type="text" size="2" data-stripe="exp-month"/>
              </label>
              <span> / </span>
              <input type="text" size="4" data-stripe="exp-year"/>
            </div>

            <button type="submit">Submit Payment</button>
          </form>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Credit Card Number</label>
            <input name="social" ng-model="user.social" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />
            <div class="hint" ng-if="showHints">####-####-####-####</div>
            <div ng-messages="userForm.social.$error" ng-if="!showHints">
              <div ng-message="pattern">####-####-####-#### - Please enter a valid credit card number.</div>
            </div>
          </md-input-container> -->
        </div>
        <div id="topup-step3" ng-show="progressvalue===99">
          progressvalue3
        </div>
      </div>

      <div class="modal-footer">
         <md-button class="md-warn" ng-click="closeModal()">Cancel</md-button>
         <md-button md-no-ink class="md-primary" ng-click="nextAction()">Pay</md-button>
      </div>
    </div>
  </div>
</div>