This is the activity html page for {{ activityId }}.

<div class="activity-page container-fluid">
  <div class="row cover-photo">
    COVER PHOTO HERE
  </div>
  <div class="row middle">
    <div class="col-md-6 mid-left">
      <h3>Junior Muay Thai</h3>
      <p>Lorem Ipsum blablabla</p>
    </div>
    <div class="col-md-6 mid-right">
      <div class="col-xs-6 details"></div>
      <div class="col-xs-6 booking-section"></div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-md-6 information"></div>
    <div class="col-md-6 activity-map"></div>
  </div>
</div>