<div class="activity-page container-fluid">
  <div class="row cover-photo" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('{{activity.imageURL}}') center;">
    <div id="activity-title-container">
      <h2>{{activity.name}}</h2>
    </div>
  </div>
  <div class="row middle">
    <div class="col-md-6 mid-left">
      <p>{{activity.description}}</p>
    </div>
    <div class="col-md-6 mid-right">
      <div class="col-xs-6 activity-details">
        <h6>Ages:</h6>
        <p>{{ageLow}} - {{ageHigh}}</p>
        <h6>Category:</h6>
        <p>{{activity.category}}</p>
        <h6>Retail Price:</h6>
        <p>{{activity.retail_price}}</p>
      </div>
      <div class="col-xs-6 booking-section">
        <div id="selectTimeslot">
           <button id="reserveButton" class="btn btn-success btn-lg">Reserve ( {{activity.tokens}} <span class="glyphicon glyphicon-copyright-mark"></span> )</button>
          <select class="form-control">
            <option ng-repeat="date in dates">{{date}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottom">
    <div class="col-md-6 information">
      <div class="row activity-rules">
        <div class="col-xs-4 activity-rules-label">
          Rules:
        </div>
        <div class="col-xs-8 activity-rules-content">
          <p ng-repeat="rule in activity.rules"> - {{rule}}</p>
        </div>
      </div>
      <div class="row activity-cancellable">
        <div class="col-xs-4 activity-cancellable-label">
          Cancellable:
        </div>
        <div class="col-xs-8 activity-cancellable-content">
          {{activity.cancellable}}
        </div>
      </div>
      <div class="row activity-address">
        <div class="col-xs-4 activity-address-label">
          Address:
        </div>
        <div class="col-xs-8 activity-address-content">
          {{activity.address}}
        </div>
      </div>
      <div class="row activity-address">
        <div class="col-xs-4 activity-phone-label">
          Phone Number:
        </div>
        <div class="col-xs-8 activity-phone-content">
          {{activity.phone}}
        </div>
      </div>
    </div>
  </div>
</div>