<div class="homepage container-fluid">
  <div class="col-md-7 home-left">
    <a href="#">
    <ul class="results-day-tabs">
      <li class="hvr-float-shadow day-tab" ng-repeat="date in dayTabs" ng-click="selectDate(date)" ng-class="{'selected-day-tab': selectedDayTab == date.formatted}">
        <span> {{date.formatted}} </span>
      </li>
    </ul>
    </a>
    <div id="allFilters">
      <div class="row">
        <div class="col-sm-6 filteration" id="timeFilter">
          <div id="timeSlider">
            <rzslider
              rz-slider-model = "timeSlider.min"
              rz-slider-high = "timeSlider.max"
              rz-slider-options = "timeSlider.options"></rzslider>
          </div>
        </div>
        <div class="col-sm-6 filteration" id="ageFilter">
          <h5 class="ages-label">Ages:</h5>
          <ul class="age-filters">
            <li ng-repeat="ageRange in filters.age" class="age-filter-selection" ng-click="selectFilter('age', ageRange)">
              <a href="#" ng-class="{'filter-selected': isFilterSelected('age', ageRange)}">
                {{ageRange}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" id="filterBottom">
        <div class="col-xs-6 filteration">
          <div flex="10" layout layout-align="center center">
            <span class="md-body-1">Tokens</span>
          </div>
          <rzslider
            rz-slider-model = "tokenSlider.min"
            rz-slider-high = "tokenSlider.max"
            rz-slider-options = "tokenSlider.options"></rzslider>
        </div>
        <div class="col-xs-6 filteration">
          <button type="button" class="btn btn-default btn-lg" ng-model="showMoreFilters" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
            <span ng-show="!showMoreFilters">Show Advanced Filters</span>
            <span ng-show="showMoreFilters">Hide Advanced Filters</span>
          </button>
        </div>
      </div>
      <div collapse="!showMoreFilters" id="moreFilters">
        <div class="row filter-subtitle">
          <div class="col-xs-4">
            <h5 class="filter-subtitle-label">Locations:</h5>
          </div>
        </div>
        <div class="row filter-locations">
          <div ng-repeat="location in filters.district" class="col-xs-4 filter-selections">
            <a href="#"
               class="category-option"
               ng-click="selectFilter('district', location)"
               ng-class="{'filter-selected': isFilterSelected('district', location)}">{{location}}</a>
          </div>
        </div>
        <div class="row filter-subtitle">
          <div class="col-xs-4">
            <h5 class="filter-subtitle-label">Categories:</h5>
          </div>
        </div>
        <div class="row filter-categories">
          <div ng-repeat="cat in filters.category" class="col-xs-4 filter-selections">
            <a href="#"
               class="category-option"
               ng-click="selectFilter('category', cat)"
               ng-class="{'filter-selected': isFilterSelected('category', cat)}">{{cat}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="homeFeed">
      <div class="col-sm-6 feed-div" ng-repeat="timeslot in timeslots | filter:timeslotFilters" ng-click="">
        <div class="feed-item-actual" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('{{timeslot.imageURL}}') center;">
          <div class="row feed-item-top">
            <a ui-sref="activity({activityId: timeslot.activity_id})"><div class="col-sm-6 a-time">
            <p>{{timeslot.time}}</p>
            <p>60 minutes</p>
            </div></a>
            <div class="col-xs-6 a-cost"><button type="submit" class="btn btn-warning btn-large">{{timeslot.tokens}} <span class="glyphicon glyphicon-copyright-mark"></span></button></div>
          </div>
          <a ui-sref="activity({activityId: timeslot.activity_id})">
            <div class="row feed-item-middle">
              <h5>{{timeslot.name}}</h5>
              <p>{{timeslot.district}}</p>
            </div>
            <div class="row feed-item-bottom">
              Ages: {{timeslot.ageLow}} - {{timeslot.ageHigh}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 home-right" id="homeGoogleMap">
    <!-- <ui-gmap-google-map center="map.center" zoom="map.zoom">
      <ui-gmap-marker ng-repeat="timeslot in timeslots | filter:timeslotFilter" idKey="timeslot._id" coords="{latitude: timeslot.placeLat, longitude: timeslot.placeLong}"></ui-gmap-marker>
    </ui-gmap-google-map> -->
  </div>
</div>

