<div class="homepage container-fluid">
  <div class="col-md-7 home-left">
    <div class="background-white">
      <a href="#">
        <md-tabs md-selected="selectedIndex" md-autoselect id="dateSelector">
          <md-tab ng-repeat="date in dayTabs" label="{{date.formatted}}" ng-click="selectDate(date)">
          </md-tab>
        </md-tabs>
      </a>
      <md-divider></md-divider>
      <div id="allFilters">
        <div class="row">
          <div class="col-sm-4 filteration">
            <div flex="10" layout layout-align="center center">
              <span class="ages-label">Coins</span>
            </div>
            <md-slider flex md-discrete ng-model="tokenSlider" step="1" min="1" max="5" aria-label="rating">
            </md-slider>
          </div>
          <div class="col-sm-5 filteration" id="ageFilter">
            <span class="ages-label">Ages</span>
            <ul class="age-filters">
              <li ng-repeat="ageRange in filters.age" class="age-filter-selection" ng-click="selectFilter('age', ageRange)">
                <a href="#" ng-class="{'filter-selected': isFilterSelected('age', ageRange)}">
                  {{ageRange}}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3 filteration" id="moreFiltersButton">
            <button type="button" class="btn btn-info btn-lg" ng-model="showMoreFilters" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
              <span ng-show="!showMoreFilters">More Filters</span>
              <span ng-show="showMoreFilters">Less Filters</span>
            </button>
          </div>
        </div>
        <md-divider></md-divider>
        <div collapse="!showMoreFilters" id="moreFilters">
          <div class="row filter-subtitle">
            <div class="col-xs-4">
              <span class="filter-subtitle-label">Locations:</span>
            </div>
          </div>
          <div class="row filter-locations">
            <div ng-repeat="location in filters.district" class="col-xs-4 filter-selections">
              <a href="#"
                 class="category-option"
                 ng-click="selectFilter('district', location)"
                 ng-class="{'filter-selected': isFilterSelected('district', location)}">{{location}}</a>
            </div>
          </div>
          <div class="row filter-subtitle">
            <div class="col-xs-4">
              <span class="filter-subtitle-label">Categories:</span>
            </div>
          </div>
          <div class="row filter-categories">
            <div ng-repeat="cat in filters.category" class="col-xs-4 filter-selections">
              <a href="#"
                 class="category-option"
                 ng-click="selectFilter('category', cat)"
                 ng-class="{'filter-selected': isFilterSelected('category', cat)}">{{cat}}</a>
            </div>
          </div>
        <md-divider></md-divider>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="homeFeed">
      <div class="col-sm-6 feed-div" ng-repeat="timeslot in timeslots | filter:timeslotFilters" ng-click="">
        <md-card class="w3-hover-shadow" ng-mouseenter="timeslot.activateMarker()" ng-mouseleave="timeslot.deactivateMarker()">
          <div class="feed-item-actual" style="background: url('{{timeslot.imageURL}}') center; background-size: contain cover;">
            <div class="row feed-item-top">
              <a ui-sref="activity({activityId: timeslot.activity_id})">
                <div class="col-xs-6 a-time">
                  <div class="alpha-darken">
                    <span class="feed-text feed-time"><b>{{timeslot.time}}</b></span>
                    <br/><span class="feed-duration">(60 min)</span>
                  </div>
                </div>
              </a>
                <div class="col-xs-6 a-cost">
                  <button type="submit" class="w3-btn w3-xlarge w3-green" ng-click="verifyRegister(timeslot, $event)">
                    <b style="font-size: 30px;">{{timeslot.tokens}} <span class="glyphicon glyphicon-copyright-mark"></span></b>
                  </button>
                </div>
            </div>
            <a ui-sref="activity({activityId: timeslot.activity_id})">
              <div class="row feed-item-middle">
                <div class="alpha-darken">
                  <span class="feed-text feed-title">{{timeslot.name}}</span>
                  <p class="feed-text">{{timeslot.district}}</p>
                </div>
              </div>
              <div class="row feed-item-bottom">
                <div class="alpha-darken">
                  <p class="feed-text">Ages: {{timeslot.ageLow}} - {{timeslot.ageHigh}}</p>
                </div>
              </div>
            </a>
          </div>
        </md-card>
      </div>
    </div>
  </div>
  <div class="col-md-5 home-right" id="homeGoogleMap">

    <ui-gmap-google-map pan="true" center="map.center" zoom="map.zoom" options="map.options" control="map.control" refresh="map.refresh">
      <ui-gmap-marker ng-repeat="timeslot in timeslots | filter:timeslotFilter"
        idKey="timeslot._id"
        coords="{latitude: timeslot.placeLat, longitude: timeslot.placeLong}"
        options="{icon: timeslot.icon}"
        click="onClick">
        <ui-gmap-window show="timeslot.isActive">
          <a href="/activities/{{timeslot.activity_id}}">{{timeslot.name}}</a>
        </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>

