<div id="profile">

  <div class="w3-card-4" id="profile-card">
    <div class="w3-container">
      <h2>Profile</h2>
    </div>
    <form class="w3-container">
      <div class="w3-row-padding">
        <br/>
        <br/>
        <div class="w3-half">
          <label class="w3-label w3-validate">First Name</label>
          <input class="w3-input w3-animate-input" style="width:70%" type="text" required >
        </div>
        <div class="w3-half">
          <label class="w3-label w3-validate">Last Name</label>
          <input class="w3-input w3-animate-input" style="width:70%" type="text" required>
        </div>
      </div>
      <br/>
      <br/>
      <div class="w3-row-padding">
        <div class="w3-half">
          <label class="w3-label w3-validate">Email</label>
          <input class="w3-input w3-animate-input" style="width:80%" type="email" required>
        </div>
        <div class="w3-half">
          <label class="w3-label w3-validate">Phone Number</label>
          <input class="w3-input w3-animate-input" style="width:40%" type="number" required>
        </div>
      </div>
      <br/>
      <br/>
    </form>
    <div class="w3-container">
      <h3>Children</h3>
      <br/>
      <button id="addChildButton" class="w3-btn w3-ripple w3-teal w3-round w3-large">Add Child</button>
      <br/>
      <br/>
    </div>
  </div>




  HIHI THIS IS {{user}}
</div>