<div id="profile">
  <div class="w3-card-4" id="profile-card">
    <div id="profile-form">
      <div id="personal-info">
        <header class="w3-container profile-header">
          <h1 class="w3-padding-16 info-heading">Profile Settings</h1>
        </header>
        <form class="w3-container" id="personal-info-form">
          <div class="w3-row-padding">
            <div class="w3-twothird">
              <label class="w3-label w3-validate">First Name</label>
              <input class="w3-input w3-border w3-round w3-animate-input" ng-model="user.firstname" style="width:60%" type="text" required>
            </div>
            <div class="w3-third">
              <label class="w3-label w3-validate">Last Name</label>
              <input class="w3-input w3-border w3-round w3-animate-input" ng-model="user.lastname" style="width:60%" type="text" required>
            </div>
          </div>
          <br/>
          <br/>
          <div class="w3-row-padding">
            <div class="w3-twothird">
              <label class="w3-label w3-validate">Email</label>
              <input class="w3-input w3-border w3-round w3-animate-input" ng-model="user.email" style="width:60%" type="email" required>
            </div>
            <div class="w3-third">
              <label class="w3-label w3-validate">Phone No.</label>
              <input class="w3-input w3-border w3-round w3-animate-input" ng-model="user.phone" style="width:60%" type="text" required>
            </div>
          </div>
        </form>
      </div>
      <div id="children-info">
        <h3 class="w3-padding-8 info-heading">Your Children</h3>
        <div id="no-children" ng-hide="user.children.length > 0">
          <h4>Please add children</h4>
        </div>
        <div id="childrendiv" ng-repeat="child in user.children track by $index">
          <span class="glyphicon glyphicon-remove-circle" ng-click="removeChild($index)"></span>
          <form class="w3-container" id="child-info-form">
            <div class="w3-row-padding child-info-input">
              <div class="w3-half">
                <label class="w3-label w3-validate">Name</label>
                <input type="text" ng-model="child.name" class="w3-input w3-border w3-round" required>
              </div>
              <div class="w3-quarter">
                <label class="w3-label w3-validate">Age</label>
                <input type="number" ng-model="child.age" class="w3-input w3-border w3-round" required>
              </div>
              <div class="w3-quarter">
                <label class="w3-label w3-validate">Gender</label>
                <input type="text" ng-model="child.gender" class="w3-input w3-border w3-round" required>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="button-div">
        <button id="addChildButton" ng-click="addChildAction()" class="w3-btn w3-ripple w3-blue w3-round-large w3-medium">Add Child</button>
        <button id="saveProfileButton" ng-click="saveProfileAction($event)" class="w3-btn w3-ripple w3-round-large w3-purple w3-medium">Save Profile</button>
      </div>
    </div>
  </div>
</div>