<div class="homepage-hero-module">
    <div class="video-container">
        <div class="title-container">
          <h1>kid hub</h1>
        </div>
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Hoola.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/Hoola.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="https://s3-us-west-2.amazonaws.com/coverr/poster/Hoola.jpg" alt="">
        </div>
    </div>
</div>