#activity-page {
  padding: 0;
}

.row.cover-photo {
  height: 380px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;
}

#activity-actual-information {
  height: 650px;
}

#activity-title-container {
  z-index: 1000;
  text-align: center;
  top: 40%;
  width: 100%;
  position: absolute;
  color: #fff;
}

.information-card-row {
  font-size: 18px;
  margin-top: 17px;
}

div.col-md-5.activity-right {
  height: 100%;
  padding:0;
}

div.activity-left {
  font-family: 'Maven Pro', sans-serif;
  height: 100%;
  overflow: auto;
  padding: 0;
}

.activity-description {
  padding-top: 18px;
  font-size: 18px;
}

.activity-info-table {
  font-size: 16px;
}

div.activity-details {
  padding-right: 70px;
  font-size: 16px;
}

div.row.activity-rules {
  padding-top: 15px;
}

.row.activity-address {
  margin-bottom: 12px;
}

#activityGoogleMap {
  height: 100%
}

#selectTimeslot {
  text-align: right;
}

#reserveButton {
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
}