#activity-page {
  height: calc(100vh - 72px);
  padding: 0;
}

.row.cover-photo {
  height: 350px;
  margin-bottom: 15px;
}

#activity-title-container {
  z-index: 1000;
  text-align: center;
  top: 40%;
  width: 100%;
  position: absolute;
  color: #fff;
}

.information-card-row {
  margin-top: 17px;
}

div.col-md-5.activity-right {
  height: 100%;
  padding:0;
}

div.activity-left {
  padding: 0;
}

div.row.activity-rules {
  padding-top: 15px;
}

.row.activity-address {
  margin-bottom: 12px;
}

#activityGoogleMap {
  height: 100%
}

#selectTimeslot {
  text-align: center;
}

#reserveButton {
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
}