.homepage.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  height: calc(100vh - 69px);
}

ul.results-day-tabs {
  padding-left: 0px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px silver solid;
}

#dateSelector:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 0px;
}

#dateSelector {
  margin: 10px auto;
}

#creditFilterSlider {
  margin: 10px;
  height: 10px;
}

.col-sm-4.filteration {
  padding-left: 30px;
}

#moreFilters {
  text-align: left;
}

#moreFiltersButton {
  padding-top: 10px;
}

.alpha-darken {
  padding: 10px 12px;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75));
  text-align: left;
}

.a-time > .alpha-darken {
  text-align: left;
}

.feed-text {
  font-size: 18px;
  margin-bottom: 0px;
}

.col-xs-6.a-cost {
  font-size: 24px;
  text-align: right;
}

.col-md-7.home-left {
  height: 100%;
  overflow: auto;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
}

.col-sm-6.feed-div {
  margin-bottom: 5px;
  text-decoration: none;
  padding: 0px;
}


.grid-item {
  width: 30%;
}

.timeslot-tokens {
  float: right;
}

.feed-item-actual {
  margin: 5px;
  height: 280px;
}

.feed-item-middle {
  padding: 20px 15px;
}

.feed-title {
  font-size: 22px;
  font-weight: 600;
}

.feed-item-bottom {
  position: absolute;
  padding: 0px 15px;
}

.feed-time {
  font-size: 18px;
  margin-right: 12px;
}

.feed-duration {
  font-style: italic;
  font-size: 14px;
}

div.feed-item-actual > a {
  color: white;
}

div.col-xs-6.a-time {
  color: white;
}

#ageFilter {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 5px;
}

a:link{
  text-decoration: none!important;
}

.filter-subtitle-label {
  text-align: center;
}

.filter-subtitle {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 37px;
}

.filter-selections {
  margin-bottom: 25px;
  padding-left: 12px;
  text-align: center;
  color: #d3d3d3;
  font-weight: 600;
}

ul.age-filters {
  display: table;
  text-align: justify;
  width: 100%;
  padding-left: 0px;
  padding-top: 8px;
}

.btn-success.apply-button {
  margin-left: 10%;
}

.btn.btn-info.btn-lg {
  font-size: 16px;
}

.age-filter-selection {
  font-size: 17px;
  display: table-cell;
  text-align: left;
  font-weight: 600;
  color: #d3d3d3;
}

li.day-tab {
  display: table-cell;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  color: grey;
  background: white;
}

.ages-label {
  text-align: left;
}

a.filter-selected {
  color: black !important;
  font-weight: bold;
}

li.day-tab.selected-day-tab {
  background: blue;
  /*color: white;*/
}

#homeGoogleMap {
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
}

.angular-google-map {
  height: 100%;
}

.angular-google-map-container {
  height: 100%;
}

#allFilters {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#filterBottom {
  margin-bottom: 15px;
}

#homeFeed {
  padding: 0px;
}