.homepage.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  height: calc(100vh - 72px);
}

.home-right {
  height: 300px;
}

ul.results-day-tabs {
  padding-left: 0px;
  margin-bottom: 10px;
  text-align: justify;
  width: 100%;
  display: table;
  border: 1px silver solid;
}

#creditFilterSlider {
  margin: 10px;
  height: 10px;
}

.col-sm-6.filteration {
  padding-left: 40px;
}

#moreFilters {
  text-align: left;
  border-top: 1px silver solid;
  border-bottom: 1px silver solid;
}

.col-xs-6.a-cost {
  font-size: 24px;
  text-align: right;
}

.col-md-7.home-left {
  height: 100%;
  overflow: auto;
  text-decoration: none;
}

.col-sm-6.feed-div {
  margin-bottom: 5px;
  text-decoration: none;
  padding: 0px 8px;
}

.feed-item-actual {
  margin: 5px;
  padding: 16px;
}

div.feed-item-actual > a {
  color: white;
}

div.col-sm-6.a-time {
  color: white;
}

#ageFilter {
  padding-left: 20px;
  padding-bottom: 5px;
}

a:link{
  text-decoration: none!important;
}

.filter-subtitle-label {
  text-align: center;
}

.filter-subtitle {
  padding-top: 10px;
  padding-bottom: 20px;
}

.filter-selections {
  margin-bottom: 25px;
  padding-left: 12px;
  text-align: center;
}

ul.age-filters {
  display: table;
  text-align: justify;
  width: 100%;
  padding-left: 0px;
}

#moreFilterButtons {
  text-align: right;
  padding-right: 13%;
}

.btn-success.apply-button {
  margin-left: 10%;
}

.age-filter-selection {
  font-size: 14px;
  display: table-cell;
  text-align: left;
}

li.day-tab {
  display: table-cell;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  color: grey;
  background: white;
}

.ages-label {
  text-align: left;
}

a.filter-selected {
  color: red !important;
  font-weight: bold;
}

li.day-tab.selected-day-tab {
  background: blue;
  color: white;
}

#homeGoogleMap {
  padding-left: 0px;
  padding-right: 0px;
}

#homeGoogleMap > .angular-google-map {
  height: 100%;
}

#allFilters {
  margin-bottom: 15px;
}

#filterBottom {
  margin-bottom: 15px;
}