.homepage.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.home-right {
  border-left: 1px silver solid;
  height: 300px;
}

ul.results-day-tabs {
  padding-left: 0px;
  margin-bottom: 10px;
  text-align: justify;
  width: 100%;
  display: table;
  border: 1px silver solid;
}

#creditFilterSlider {
  margin: 10px;
  height: 10px;
}

.day-tab {
  display: table-cell;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  color: grey;
  background: white;
}

.selected-day-tab {
  background: blue;
  color: white;
}

.home-left {

}

#allFilters {
  margin-bottom: 15px;
}

#filterBottom {
  margin-bottom: 15px;
}
