.home-left {
  text-align: center;
}

nav.navbar.navbar-default.appnavbar {
  padding: 5px;
  background-color: #c8eaff;
  margin-bottom: 0px;
  padding-left: 15px;
  border: 0px;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 30px;
  color: black;
  padding: 5px 10px;
}

span.glyphicon.glyphicon-user {
  font-size: 24px;
  color: black;
}

#dateSelector {
  padding-left: 15px;
  padding-right: 15px;
}

#nav-username {
  margin-right: 20px;
}

#nav-bank {
  margin-right: 20px;
}

span.glyphicon.glyphicon-piggy-bank {
  font-size: 24px;
  color: black;
}

#nav-bank > .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

#nav-bank > .dropdown:hover .dropdown-menu {
  display: block;
  text-align: center;
}

#nav-username > .dropdown-menu li:hover .sub-menu{
  visibility: visible;
}

#nav-username > .dropdown:hover .dropdown-menu {
  display: block;
  text-align: center;
}

#bank-hovered > li {
  margin-top: 10px;
}