.home-left {
  text-align: center;
}

nav.navbar.navbar-default.appnavbar {
  margin-bottom: 1px;
  padding: 5px;
}

.navbar-brand {
  font-size: 30px;
}

span.glyphicon.glyphicon-user {
  font-size: 24px;
}

#nav-username {
  margin-right: 20px;
}

#nav-bank {
  margin-right: 20px;
}

span.glyphicon.glyphicon-piggy-bank {
  font-size: 24px;
}

#nav-bank > .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

#nav-bank > .dropdown:hover .dropdown-menu {
  display: block;
  text-align: center;
}

#nav-username > .dropdown-menu li:hover .sub-menu{
  visibility: visible;
}

#nav-username > .dropdown:hover .dropdown-menu {
  text-align: center;
}

#bank-hovered > li {
  margin-top: 10px;
}