#profile {
  padding: 30px;
  background: url("images/childrenswimming.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#profile-card {
  padding: 30px 70px;
  width: 50%;
  margin: 0 auto;
  background: white;
  opacity: 0.94;
}


h1.info-heading {
  border-bottom: 1px #2196F3 solid;
}

#personal-info {
  margin-bottom: 20px;
}

.w3-label.w3-validate {
  color: #2196F3;
}

#personal-info-form {
  /*border: 1px #ccc solid;
  border-radius: 8px;
  padding: 20px 10px;*/
  padding: 20px 0px;
}

#no-children {
  font-style: italic;
  font-weight: 200px;
  color: red;
  margin: 15px;
  margin-bottom: 25px;
}

#children-info {
  margin-bottom: 20px;
}

#childrendiv {
  margin-bottom: 15px;
}
.glyphicon.glyphicon-remove-circle {
  float: right;
  font-size: 16px;
}

#child-info-form {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 20px 10px;
}

#saveProfileButton {
  float: right;
}