.close.select-child-close {
  color: white;
}

.select-child-text-title {
  font-size: 20px;
  margin-top: 22px;
  margin-bottom: 22px;
  list-style-type: none;
}

.children-radio {

}

.md-dialog-content-body {
  padding-top: 20px;
}

.invalid-selection{
  margin-right: 20px;
  color: red;
  font-size: 18px;
}

.child-option {
  display: inline;
  margin-right: 35px;
}