#topup-step1 {
  text-align: center;
}

#tokenOptions {
  margin: 0 auto;
}

#selectPaymentOption {
  margin-left: 30px;
  text-align: left;
  font-weight: 300;
}

#enterCardDetails {
  margin-left: 15px;
  text-align: left;
  font-weight: 300;
}

#payment-instruction {
  margin-top: 10px;
  margin-bottom: 10px;
}

.token-number {
  text-align: center;
  font-size: 22px;
}

.token-cost {
  font-size: 14px;
  padding-top: 20px;
}

.glyphicon.glyphicon-copyright-mark {
  color: gold;
}

#card-expiration {
  /*margin-left: 30px;*/
}

.cardInfo {
  display: inline-table;
  text-align: center;
  width: 50%;
  margin: 10px auto;
}

.cardInfoContainer {
  text-align: center;
  width: 100%;
}

.cardDetails {
  display: table-cell;
}

.btn-default.payment-option {
  padding: 18px;
  margin: 10px 30px;
  border-radius: 0px;
}
